In [1]:
import pandas as pd

In [7]:
plans= pd.read_json('plans.jsonlines', lines = True)
simulation= pd.read_json('simulation.jsonlines', lines = True)
positions= pd.read_json('positions.jsonlines', lines = True)

In [8]:
plans.head()

,items,simulationId,trucks
0,"[{'itemId': '0', 'locationId': '326ae8dc7810de...",2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,"[{'items': ['23', '24', '4', '25', '26', '27',..."
1,"[{'itemId': '0', 'locationId': '265a9178c2d6ca...",3fab69b5-fecc-4baa-b402-7da59b6bb23b,"[{'items': ['8', '9', '10', '31', '32', '27', ..."
2,"[{'itemId': '0', 'locationId': '70b866cac59186...",89e71177-6a7b-41eb-858a-ecaf434fdd8b,"[{'items': ['33', '34', '35', '64', '65', '66'..."
3,"[{'itemId': '0', 'locationId': 'f3367090a09140...",d4bef456-20a5-440e-94f5-eb6957479158,"[{'items': ['72', '73', '74', '75', '31', '32'..."
4,"[{'itemId': '0', 'locationId': '86b0c901cebbf4...",e825e855-b32f-42d2-a84a-e2211b88a90a,"[{'items': ['83', '84', '65', '66', '60', '57'..."

In [9]:
positions.head()

,coordinates,eventTime,simulationId,truckId
0,"{'latitude': 40.427665, 'longitude': -3.704073}",5760,a2bfd344-3b14-462a-82e7-d42aca54a650,1669HSZ
1,"{'latitude': 40.42766521385369, 'longitude': -...",5760,a2bfd344-3b14-462a-82e7-d42aca54a650,8809GPH
2,"{'latitude': 40.427665, 'longitude': -3.704073}",5730,a2bfd344-3b14-462a-82e7-d42aca54a650,1161GJN
3,"{'latitude': 40.427665233683996, 'longitude': ...",5340,a2bfd344-3b14-462a-82e7-d42aca54a650,2423VRT
4,"{'latitude': 40.427665, 'longitude': -3.704073}",5460,a2bfd344-3b14-462a-82e7-d42aca54a650,3321FBL

In [10]:
simulation.head()

,eventDescription,eventTime,eventType,simulationId,truckId
0,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",5760,Truck departed,a2bfd344-3b14-462a-82e7-d42aca54a650,1669HSZ
1,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",5730,Truck departed,a2bfd344-3b14-462a-82e7-d42aca54a650,8809GPH
2,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",5730,Truck departed,a2bfd344-3b14-462a-82e7-d42aca54a650,1161GJN
3,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",5430,Truck departed,a2bfd344-3b14-462a-82e7-d42aca54a650,3321FBL
4,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",5310,Truck departed,a2bfd344-3b14-462a-82e7-d42aca54a650,2423VRT

In [21]:
len(simulation['truckId'].unique())

19

In [29]:
plans['items'].explode().apply(lambda x: x['locationId']).value_counts()

items
110fa557196f4977f47ee8a8    31
794ef428d858678e69ec18f4    26
544dc8cb8104ca9be64e088e    24
3163705e2e4c79485482b907    24
6e6eb4d6c2908b30c625409c    23
                            ..
4deded792e86bb693cbadcfb     1
204d0aeb4d7e970e7c666ad3     1
90b1028aa5e15b655f0555cc     1
108d73f1b880fab03892ef2b     1
4f0da2e66523bd8b7b6e2804     1
Name: count, Length: 2637, dtype: int64

In [32]:
len(simulation['eventDescription'].unique())

14546

In [43]:
simulation['eventTime'].describe()

count    2.688700e+04
mean     3.899651e+06
std      2.753095e+06
min      0.000000e+00
25%      1.646640e+06
50%      3.546720e+06
75%      5.758320e+06
max      1.568325e+07
Name: eventTime, dtype: float64

In [47]:
simulation.groupby('truckId')['eventDescription'].count()

truckId
0013DYS    1790
0184WLX      26
0265TYL     172
0781PZL     768
1012GWV      16
1161GJN      22
1489WHW      42
1669HSZ     138
2423VRT     398
3321FBL    4814
3953RLD    4031
5030LXK    2870
5534TPH    5134
6270NFM    2822
6965XLY    1212
8327DZH      80
8386WZB     916
8809GPH     212
9593DXM    1424
Name: eventDescription, dtype: int64

In [61]:
for plan in plans['items']:
    for item in plan:
        len(item)